*{
	margin: 15px;
	padding: 20px;
}
body{
	background: url("OrekiHoutaou.jpg") center/ cover;
}

.profile img {
	width: 500px;
	heigh: 400px;
	border-radius: 0%;
	margin-left: 377px;
	margin-top: 40px;
	margin-bottom: 24px;
}

.profile h1 {
	font-size: 2em;
	font-weight: 300;
	color: #373046;
}

.profile p {
	color: #373046;
	
	
