*{
	margin: 3px;
	padding: 2px;
}
body{
	background: url("OrekiHoutaou.jpg") center/ cover;
}

.profile img {
	width: 500px;
	heigh: 400px;
	border-radius: 0%;
	margin-left: 249px;
	margin-top: 30px;
	margin-bottom: 24px;
}

.profile h1 {
	font-size: 3em;
	font-weight: 300;
	color: #373046;
}

.profile p {
	font-size: 3em;
	color: #373046;
