*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url("OrekiHoutaou.jpg") center/ cover;
}

.profile img {
	width: 100px;
	heigh: 100px;
	border-radius: 50%;
	margin-left: 300px;
	margin-top: 10px;
	margin-bottom: 24px;
}

.profile h1 {
	font-size: 2em;
	font-weight: 300;
	color: #373046;
}

.profile p {
	color: #373046;
	
	
